PORT=4000
HOST=localhost

# Chave secreta para JWT (gere uma chave única e segura)
JWT_SECRET="*****************************************************************"

# URL do banco de dados PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5432/escolinha_saas?schema=public"

# Token do Mercado Pago (obtenha no painel do Mercado Pago)
MP_ACCESS_TOKEN="TEST-1234567890123456-123456-abcdef1234567890abcdef1234567890-123456789"

# SEEDS
SUPERADMIN_EMAIL=superadmin@futelite.com
SUPERADMIN_PASSWORD=35182982
SUPERADMIN_NAME=Super Admin

#CLOUDINARY
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=sua_api_secret

